// stylelint-disable scss/dollar-variable-default, number-leading-zero, selector-max-id

//
// Bootstrap Configuration
//

@import "functions";
@import "variables";
@import "mixins";
@import "vendor/rfs";
@import "utilities";

$utilities: (
  "background": (
    property: background,
    class: bg,
    values: (
      linkedin: #0e72a3,
      facebook: #37589d,
      twitter: #02b8e8,
      youtube: #ce322f,
      instagram: #aa4087,
    ),
  ),
  "font-size": (
    property: font-size,
    class: "is",
    values: (
      sm: $font-size-sm,
      md: $font-size-base,
      lg: $font-size-lg,
    ),
  ),
  "font-family": (
    property: font-family,
    class: "font",
    values: (
      anton: #{"Anton", var(--#{$variable-prefix}font-sans-serif)},
      montserrat: #{"Montserrat", var(--#{$variable-prefix}font-sans-serif)},
      normal: var(--#{$variable-prefix}font-sans-serif),
      code: var(--#{$variable-prefix}font-monospace),
    ),
  ),
  "min-height": (
    property: min-height,
    class: h-min,
    values: (
      15rem: 15rem,
      25rem: 25rem,
      35rem: 35rem,
    ),
  ),
  "object-fit": (
    property: object-fit,
    class: object-fit,
    values: (
      cover: cover,
      contain: contain,
      fill: fill,
      none: none,
      scale-down: scale-down,
    ),
  ),
  "min-viewport-height": (
    property: min-height,
    class: h-min,
    values: (
      25vh: 25vh,
      50vh: 50vh,
      75vh: 75vh,
      89vh: 89vh,
      100vh: 100vh,
    ),
  ),
);

@import "utilities/api";

//
// Fluid Objects
//

.icon {
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 1em;
  height: 1em;

  svg {
    vertical-align: baseline;
  }

  &:not(:only-child)::after {
    content: "\00a0";
  }
}

.divider {
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  opacity: 0.5;

  &::before,
  &::after {
    align-self: center;
    width: inherit;
    height: 100%;
    content: "";
    border: 0.5px solid currentColor;
  }

  &:not(:empty)::before,
  &:not(:empty)::after {
    margin: 0.1875em 0.375em;
  }

  &.is-y {
    width: auto;
  }

  &.txt-left:not(.is-y)::before {
    width: 5%;
  }

  &.txt-left.is-y::before {
    height: 5%;
  }

  &.txt-right:not(.is-y)::after {
    width: 5%;
  }

  &.txt-right.is-y::after {
    height: 5%;
  }
}

//
// Header
//

header {
  @include transition(top 0.5s ease-in-out);
  top: 0;

  .headroom--unpinned & {
    top: -86px;
  }

  .logo-container {
    width: 280px;
  }
}

//
// scolltop
//

#scolltop {
  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.35s ease-in-out, visibility 0.35s ease-in-out);

  .headroom--bottom & {
    visibility: visible;
    opacity: 1;
  }
}

//
// Footer
//

footer {
  font-size: $small-font-size;
  color: $white;
  background: $dark;
}

//
// Utilities
//

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
