// stylelint-disable scss/dollar-variable-default, number-leading-zero, selector-max-id

//
// Bootstrap Configuration
//

@import "functions";
@import "variables";
@import "mixins";
@import "vendor/rfs";
@import "utilities";

$utilities: (
  "background": (
    property: background,
    class: bg,
    values: (
      linkedin: #0e72a3,
      facebook: #37589d,
      twitter: #02b8e8,
      youtube: #ce322f,
      instagram: #aa4087,
    ),
  ),
);

@import "utilities/api";

//
// Fluid Objects
//

.icon {
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.icon svg {
  vertical-align: baseline;
}

.divider {
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  opacity: 0.5;
}

.divider::before,
.divider::after {
  align-self: center;
  width: inherit;
  height: 100%;
  content: "";
  border: 0.5px solid currentColor;
}

.divider:not(:empty)::before,
.divider:not(:empty)::after {
  margin: 0.1875em 0.375em;
}

.divider.is-y {
  width: auto;
}

.divider.txt-left:not(.is-y)::before {
  width: 5%;
}

.divider.txt-left.is-y::before {
  height: 5%;
}

.divider.txt-right:not(.is-y)::after {
  width: 5%;
}

.divider.txt-right.is-y::after {
  height: 5%;
}

//
// Header
//

header {
  @include transition(top 0.5s ease-in-out);
  top: 0;

  .headroom--unpinned & {
    top: -86px;
  }

  .logo-container {
    width: 280px;
  }
}

//
// scolltop
//

#scolltop {
  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.35s ease-in-out, visibility 0.35s ease-in-out);

  .headroom--bottom & {
    visibility: visible;
    opacity: 1;
  }
}

//
// Footer
//

footer {
  font-size: $small-font-size;
  color: $white;
  background: $dark;
}

//
// Utilities
//

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
