// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  a.clr-#{$color} {
    @include transition(color .15s ease-in-out);

    @if $link-shade-percentage != 0 {
      &:hover,
      &:focus {
        $shade-color: shade-color($value, $link-shade-percentage);
        $tint-color: tint-color($value, $link-shade-percentage);
        color: if(color-contrast($value) != $color-contrast-light, $shade-color, $tint-color) !important;
      }
    }
  }
}
